<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/style/index.css">
  <title>Tetris</title>
</head>
<body>
  <canvas id="canvas" width="400" height="600"></canvas>
  <script src="/libs/createjs/createjs-2015.11.26.min.js"></script>
  <script src="/script/index.js"></script>
</body>
</html>